#square1 {

position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
right: 0px;
top: 0px;

background-color: #D0D0D0;
}

.загаловок1 { 


position: absolute;
left: 6.25%;
right: 83.11%;
top: 7%;
bottom: 91.05%;

font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;


color: #000000;

text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.25);

}

.загаловок2 { 


position: absolute;
left: 10.40%;
right: 83.11%;
top: 7%;
bottom: 91.05%;

font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;


color: #0077E5;

text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.25);

}

.загаловок3 { 


position: absolute;
left: 11.25%;
right: 83.11%;
top: 7%;
bottom: 91.05%;

font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;


color: #000000;

text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.25);

}

.главная {

position: absolute;
left: 29.43%;
right: 70.79%;
top: 8.28%;
bottom: 91.05%;

font-family: 'Courier New';
font-style: bold;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #3F3F3F;

}

.прием_в_школу {

position: absolute;
left: 46.29%;
right: 31.49%;
top: 8.28%;
bottom: 91.05%;

font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #3F3F3F;

}

.жалобы_и_отзывы {

position: absolute;
left: 66.89%;
right: 22.51%;
top: 8.28%;
bottom: 91.05%;

font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #3F3F3F;

}

.телефон {

position: absolute;
left: 88.21%;
right: 1.47%;
top: 8.28%;
bottom: 91.05%;

font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #3F3F3F;

}

.phone {
font-size: 24px;

flex: none;
order: 0;
flex-grow: 0;

 position: absolute;
left: 86.50%;
right: 11.50%;
top: 4.80%;
bottom: 9.72%;

color: #0077E5;

}

.d3 {

width: 834px; 
height: 834px;
border-radius: 50%;

position: absolute;
left: 56%;
right: 14.89%;
top: 60%;
bottom: 40%;

background: #000000;

}

.d2 {

width: 672px; 
height: 672px;
border-radius: 50%;
    
position: absolute;
left: 85%;
right: 00%;
top: 35.00%;
bottom: 65.00%;
    
background: #969696;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    
    }

.d1 {

width: 672px; 
height: 672px;
border-radius: 50%;

position: absolute;
left: 52.50%;
right: 47.50%;
top: 16.9%;
bottom: 38.21%;

background: #0077E5;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);

}


.первый_текст1{

position: absolute;
left: 6.25%;
right: 47.34%;
top: 36.85%;
bottom: 62.12%;

font-family: 'Courier New';
font-style: normal;
font-weight: 800;
font-size: 45px;
line-height: 40px;

color: #000000;

}

.первый_текст2{

position: absolute;
left: 18.00%;
right: 47.34%;
top: 36.85%;
bottom: 62.12%;

font-family: 'Courier New';
font-style: normal;
font-weight: 800;
font-size: 45px;
line-height: 40px;

color: #0077E5;

}

.первый_текст3{

position: absolute;
left: 22.25%;
right: 47.34%;
top: 36.85%;
bottom: 62.12%;

font-family: 'Courier New';
font-style: normal;
font-weight: 800;
font-size: 45px;
line-height: 40px;

color: #000000;

}

.первый_текст4{

position: absolute;
left: 6.25%;
right: 47.34%;
top: 40.85%;
bottom: 62.12%;

font-family: 'Courier New';
font-style: normal;
font-weight: 800;
font-size: 45px;
line-height: 40px;

color: #000000;

}

.второй_текст{

position: absolute;
left: 6.25%;
right: 50.85%;
top: 55.81%;
bottom: 55.38%;

font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #3F3F3F;
}

#square2 {

position: absolute;
width: 1920px;
height: 1000px;
left: 0px;
right: 0px;
top: 1000px;

background-color: #FFFFFF;

}

.заголовок_для_оглавления {

position: absolute;
left: 44.00%;
right: 41.00%;
top: 112.5%;
bottom: 94.82%;

font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;


color: #000000;

text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.25);

}





































body{
    overflow-x: hidden;
   }
   .dws-menu *{
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    padding: 0;
    
   }
   .dws-menu ul,
   .dws-menu ol{
    list-style: none;
   }
   .dws-menu > ul{
    justify-content: center;
   }
   .dws-menu > ul li{
    position: relative;
   }
   .dws-menu > ul li > a i.fa{
    position: absolute;
   }
   .dws-menu > ul li a{
   
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform:uppercase;
    transition: all 0.3s ease;
   }
   .dws-menu li a:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e1e5+0,454547+2,454547+98,e0e1e5+100 */
    background: rgb(224,225,229); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(224,225,229,1) 0%, rgba(69,69,71,1) 2%, rgba(69,69,71,1) 98%, rgba(224,225,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 ); /* IE6-9 */
    border-right: 0.1px solid #babbbd;

    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
   }
   
   /*sub menu*/
   .dws-menu li ul{
    left: 50px;
    position: absolute;
    min-width: 150px;
    display: none;
   }
   .dws-menu li > ul li{
    border: 1px solid #c7c8ca;
   }
   .dws-menu li > ul li a{
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
   }
   .dws-menu li > ul li ul{
    position: absolute;
    top: 0;
   }
   .dws-menu li:hover > ul{
    display: block;
   }




































#square3 {

position: absolute;
left: 6.25%;
right: 74.13%;
top: 130%;
bottom: -114%;


background: #D0D0D0;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);

}

#square4 {

position: absolute;
left: 40.00%;
right: 40.50%;
top: 130%;
bottom: -114%;


background: #D0D0D0;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);

}

#square5 {

position: absolute;
left: 74.13%;
right: 6.25%;
top: 130%;
bottom: -114%;


background: #D0D0D0;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);

}

#square6 {

position: absolute;
width: 1920px;
height: 200px;
left: 0px;
right: 0px;
top: 2120px;

background-color: #000000;

}

.загаловок_для_подвала1 {

position: absolute;
left: 6.25%;
right: 83.11%;
top: 2162px;
bottom: 91%;

font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;


color: #FFFFFF;

text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.25);

}

.d4 {

width: 141px; 
height: 141px;
border-radius: 50%;

position: absolute;
left: 66.25%;
right: 26.92%;
top: 110%;
bottom: -10%;

background: #0077E5;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);

}

.d5 {

width: 141px; 
height: 141px;
border-radius: 50%;
    
position: absolute;
left: 97%;
right: 3%;
top: 160%;
bottom: -79.18%;
    
background: #969696;
transform: rotate(-90deg);
    
}
    
.d6 {
    
width: 141px; 
height: 141px;
border-radius: 50%;

position: absolute;
left: -3.84%;
right: 80.32%;
top: 140%;
bottom: -59.18%;
    
    
background: #000000;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
transform: rotate(90deg);
    
}

.загаловок_для_подвала2 {

position: absolute;
left: 10.40%;
right: 83.11%;
top: 2162px;
bottom: 91%;

font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;


color: #0077E5;

text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.25);

}

.загаловок_для_подвала3 {

position: absolute;
left: 11.25%;
right: 83.11%;
top: 2162px;
bottom: 91%;

font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;


color: #FFFFFF;

text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.25);

}

.Почта {

position: absolute;
left: 29.43%;
right: 40.79%;
top: 2162px;
bottom: 91%;

font-family: 'Courier New';
font-style: bold;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

}

.VK {

position: absolute;
left: 46.29%;
right: 31.49%;
top: 2182px;
bottom: 91%;

font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

}

.Местоположение {

position: absolute;
left: 29.43%;
right: 22.51%;
top: 2225px;
bottom: 91%;

font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

}

.made_by {

    position: absolute;
    left: 85.10%;
    right: 0%;
    top: 2270px;
    bottom: 91%;
    
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    
    color: #a1a1a1;
    
    }









